*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
.container{
    width: 80%;
    padding: 35px 18%;
    margin: auto;
    text-align: center;
    line-height: 4rem;
}
.register{
    background-color: #f7f4f4;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0 0 5px;
    margin: auto;
    padding: 10px 10px;
    width: 60%;
}
.register h2{
    text-align: center;
    font-size: 30px;
}
.radiobtn{
    font-size: 18px;
    display: inline;
    /* justify-content: space-evenly; */
}

.form_input i{
    display: inline;
    background-color:#1c87c9 ;
    padding: 9px 15px;
    height: 36px;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.form_input input{
    margin: 0 0 0 -5px;
    padding: 8px;
    height: 36px;
    width: 230px;
    border: 1px solid #d5d3d3;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.foot{
    display: inline-flex;
    line-height: normal;
    padding: 20px;
    text-align: left;
}
button{
    background-color:#1c87c9;
    border: none;
    width: 50%;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
button:hover {
    background: #26a9e0;
}
#radio{
    padding-bottom: 2px;
}
input[type="radio"]{
    /* padding-left: 18px; */
    margin: 0 0 0 25px;
}
input[type=radio] {
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: #1c87c9;
    border-radius:50%;
    cursor: pointer;
}
input[type="radio"]:checked::before{
    content:"\00A0\2713";
    font-weight: bold;
    position: absolute;
    text-align: center;
    color: #fff ;
}